<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
    Characters
    <span class="caret"></span>
</button>
<ul class="dropdown-menu character-dd" role="menu" aria-labelledby="dropdownMenu1">
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#"><span class="icon Mario"></span>Mario</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#"><span class="icon Luigi"></span>Luigi</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#"><span class="icon Bowser"></span>Bowser</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#"><span class="icon Peach"></span>Peach</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#"><span class="icon Rosalina"></span>Rosalina</a></li>    
    <li role="presentation" class="divider"></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#"><span class="icon dk"></span>Donkey Kong</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#"><span class="icon Diddy"></span>Diddy Kong</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#"><span class="icon Yoshi"></span>Yoshi</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#"><span class="icon Wario"></span>Wario</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#"><span class="icon Mac"></span>Little Mac</a></li> 
    <li role="presentation" class="divider"></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#"><span class="icon Link"></span>Link</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#"><span class="icon Zelda"></span>Zelda</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#"><span class="icon Sheik"></span>Sheik</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#"><span class="icon Ganondorf"></span>Ganondorf</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#"><span class="icon YL"></span>Young Link</a></li> 
    <li role="presentation" class="divider"></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#"><span class="icon Samus"></span>Samus</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#"><span class="icon ZS"></span>Zero Suit Samus</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#"><span class="icon Pit"></span>Pit</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#"><span class="icon IC"></span>Ice Climbers</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#"><span class="icon Villager"></span>Villager</a></li> 
    <li role="presentation" class="divider"></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#"><span class="icon Kirby"></span>Kirby</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#"><span class="icon MK"></span>Meta Knight</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#"><span class="icon KDD"></span>KingDeeDee</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#"><span class="icon Olimar"></span>Olimar</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#"><span class="icon WF"></span>Wii Fit Trainer</a></li> 
    <li role="presentation" class="divider"></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#"><span class="icon Fox"></span>Fox</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#"><span class="icon Falco"></span>Falco</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#"><span class="icon CF"></span>C. Falcon</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#"><span class="icon Marth"></span>Marth</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#"><span class="icon Lucina"></span>Lucina</a></li> 
    <li role="presentation" class="divider"></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#"><span class="icon Pikachu"></span>Pikachu</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#"><span class="icon Lucario"></span>Lucario</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#"><span class="icon Charizard"></span>Charizard</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#"><span class="icon Greninja"></span>Greninja</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#"><span class="icon Jigglypuff"></span>Jigglypuff</a></li> 
    <li role="presentation" class="divider"></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#"><span class="icon Ness"></span>Ness</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#"><span class="icon MG"></span>Mr. G+W</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#"><span class="icon Sonic"></span>Sonic</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#"><span class="icon MM"></span>Mega Man</a></li>
</ul>