<div class="jumbotron" style="margin: 30px;border-radius: 10px;background:#272727;">
  <h1 style="color:white;">Input Your Stats</h1>
  <div style="display: block;position: relative;height: 200px;margin: auto;width: 880px;margin-top: 50px;">
  	<div id="p1" class="alert alert-danger" style="display:block;width:200px;padding-top:40px;padding-bottom:40px;float:left;margin:10px;">
  		<span class="input-group">
  			 <span class="input-group-addon">P1</span>
  			<span class="dropdown char_dropdown"></span>
  		</span>
  		<span class="input-group">
  			<span class="input-group-addon">KOs</span>
  			<input id="p1_score" class="form-control"/>
  		</span>
  	</div>
  	<div id="p2" class="alert alert-info" style="display:block;width:200px;padding-top:40px;padding-bottom:40px;float:left;margin:10px;">
		<span class="input-group">
  			 <span class="input-group-addon">P2</span>
  			<span class="dropdown char_dropdown"></span>
  		</span>
  		<span class="input-group">
  			<span class="input-group-addon">KOs</span>
  			<input id="p2_score" class="form-control"/>
  		</span>
	</div>
	<div id="p3" class="alert alert-warning" style="display:block;width:200px;padding-top:40px;padding-bottom:40px;float:left;margin:10px;">
		<span class="input-group">
  			 <span class="input-group-addon">P3</span>
  			<span class="dropdown char_dropdown"></span>
  		</span>
  		<span class="input-group">
  			<span class="input-group-addon">KOs</span>
  			<input id="p3_score" class="form-control"/>
  		</span>
	</div>
	<div id="p4" class="alert alert-success" style="display:block;width:200px;padding-top:40px;padding-bottom:40px;float:left;margin:10px;">
		<span class="input-group">
  			 <span class="input-group-addon">P4</span>
  			<span class="dropdown char_dropdown"></span>
  		</span>
  		<span class="input-group">
  			<span class="input-group-addon">KOs</span>
  			<input id="p4_score" class="form-control"/>
  		</span>
	</div>
  </div>
  <div id="winner" style="margin: auto;width: 250px;margin-bottom: 40px;">
	  <span class="input-group" style="margin:auto;">
		<span class="input-group-addon">Winner</span>
		<span class="dropdown char_dropdown"></span>
	  </span>
  </div>
  <p>
  	<a id="submit_stats" class="form-control btn btn-primary" style="width: 160px;margin: auto;display: block;padding: 10px;height: 45px;">
  		Submit
  	</a>
  </p>
</div>

<div class="jumbotron" style="margin: 30px;border-radius: 10px;background:#272727;">
  <h1 style="color:white;">Recent Games</h1>
  <table id="recent_games" class="table" style="color:white;">

  </table>
</div>